/*
	Helper colors.
*/

// Grays (higher is lighter)
$gray-1: hsl(0, 0%, 10%);
$gray-2: hsl(0, 0%, 30%);
$gray-3: hsl(0, 0%, 50%);
$gray-4: hsl(0, 0%, 70%);
$gray-5: hsl(0, 0%, 90%);

// Transparent black / white (higher is more transparent)
$transparent-white-1: transparentize(#fff, 0.1);
$transparent-white-2: transparentize(#fff, 0.3);
$transparent-white-3: transparentize(#fff, 0.5);
$transparent-white-4: transparentize(#fff, 0.7);
$transparent-white-5: transparentize(#fff, 0.9);

$transparent-black-1: transparentize(#000, 0.1);
$transparent-black-2: transparentize(#000, 0.3);
$transparent-black-3: transparentize(#000, 0.5);
$transparent-black-4: transparentize(#000, 0.7);
$transparent-black-5: transparentize(#000, 0.9);


/*
	Element colors.
*/

// Base elements
$body-background: #fff;
$body-text-color: #000;
$hr-color: $gray-5;

// Major layout elements
$header-background: #000;
$header-tab-text-color: $gray-4;
$header-current-tab-text-color: $body-background;

$subnav-background: $gray-5;
$subnav-text-color: #000;

// Buttons
$button-quiet-background: $gray-5;
$button-quiet-border-color: $gray-4;
$button-quiet-text-color: #000;

$button-danger-background: hsl(334, 100%, 40%);
$button-danger-border-color: transparent;
$button-danger-text-color: #fff;

// Quadrants
$quadrant-0-color: hsl(  0, 69%, 68%);
$quadrant-1-color: hsl( 51, 78%, 68%);
$quadrant-2-color: hsl(102, 69%, 68%);
$quadrant-3-color: hsl(205, 69%, 68%);
$quadrant-input-border-color: $transparent-white-3;

// Gridlr items
$gridlr-item-hover-background: $transparent-black-5;
$gridlr-item-focus-background: $transparent-white-2;
$gridlr-item-button-hover-background: $transparent-white-2;

@import '../theme';
