* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family;
  font-size: ms(0);
  line-height: ms(1);
}

img {
  max-width: 100%;
}

p {
  margin-bottom: $standard-spacing;
}

textarea,
input {
  font-size: ms(0);
  font-family: $font-family;
  background: none;
  border: 1px solid #aaa;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  padding: $standard-spacing;
}

hr {
  margin: ms(1) 0;
  border: 0;
  border-top: 1px solid transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: ms(3);
  margin-bottom: ms(2);
  line-height: ms(3);
}

h2 {
  font-size: ms(2);
  margin-bottom: ms(1);
  line-height: ms(2);
}

h3 {
  font-size: ms(1);
  margin-bottom: ms(0);
  line-height: ms(1);
}

h4 {
  font-size: ms(0);
  margin-bottom: ms(-1);
  line-height: ms(0);
}

h5 {
  font-size: ms(-1);
  margin-bottom: ms(-2);
  line-height: ms(-1);
}

h6 {
  font-size: ms(-2);
  margin-bottom: ms(-3);
  line-height: ms(-2);
}
