@font-face {
  font-family: 'Titillium Web';
  src: url('/assets/font/titilliumweb-regular-webfont.woff2') format('woff2'),
       url('/assets/font/titilliumweb-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('/assets/font/titilliumweb-semibold-webfont.woff2') format('woff2'),
       url('/assets/font/titilliumweb-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
