.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}

.plain-list {
  list-style: none;
}

.button {
  cursor: pointer;
  user-select: none;
  text-decoration: none;

  &--medium {
    padding: ($standard-spacing / 2) $standard-spacing;
    border: 1px solid transparent;
    line-height: 3;
  }
}

.main {
  @extend .column;
  flex-grow: 1;
  padding-bottom: $standard-spacing;
}

.container {
  @extend .row;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: $container-max-width;
  padding: $standard-spacing;

  &--centered {
    justify-content: center;
    align-items: center;
  }

  &--quadrants {
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
    padding: ms(2);
  }
}

.header {
  @extend .row;
  height: $header-height;

  &__item {
    @extend .row;
    padding: 0 $standard-spacing;
    min-width: $header-height;
    align-items: center;
    font-weight: 600;
  }
}

.subnav {
  @extend .row;
  height: $subnav-height;
  align-items: center;

  &__heading {
    margin: 0;
  }
}

.notification-area {
  height: $notification-area-height;
}

.quadrant {
  @extend .column;
  height: 50%;
  flex-grow: 1;
  width: 50%;
  overflow-y: auto;

  &__items {
    @extend .column;
    flex-grow: 1;

    list-style: none;
  }

  &__input {
    padding: $standard-spacing;
  }
}

.gridlr-item {
  @extend .row;
  flex: 0 0 $gridlr-item-height;

  &__label {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: $standard-spacing;
  }

  &__button {
    @extend .row;
    flex: 0 0 $gridlr-item-height;
    justify-content: center;
    align-items: center;
  }

  &:not(:hover) &__button,
  &__label:focus ~ &__button {
    display: none;
  }
}

.date-picker {

  &__input {
    font-size: ms(2);
    font-weight: bold;
    text-align: center;
  }
}
