body {
	background: $body-background;
	color: $body-text-color;
}

hr {
	border-color: $hr-color;
}

.button {

	&--quiet {
		background: $button-quiet-background;
		color: $button-quiet-text-color;
		border-color: $button-quiet-border-color;
	}

	&--danger {
		background: $button-danger-background;
		color: $button-danger-text-color;
		border-color: $button-danger-border-color;
	}
}

.header {
  background: $header-background;

	&__item {
		color: $body-background;
	}

  &__tab {
		color: $header-tab-text-color;

    &--current {
      color: $body-background;
    }

		&:hover {
			text-decoration: underline;
		}
  }
}

.subnav {
	background: $subnav-background;
	color: $subnav-text-color;
}

.quadrant {

	&[data-int-quadrant='0'] {
		background: $quadrant-0-color;
	}

	&[data-int-quadrant='1'] {
		background: $quadrant-1-color;
	}

	&[data-int-quadrant='2'] {
		background: $quadrant-2-color;
	}

	&[data-int-quadrant='3'] {
		background: $quadrant-3-color;
	}

	&__input {
		border: 0;
		border-top: 1px solid $quadrant-input-border-color;
	}
}


.gridlr-item {
  cursor: pointer;

  &:hover {
    background: $gridlr-item-hover-background;
  }

	&__label {

	  &:focus {
	    background: $gridlr-item-focus-background;
	    outline: none;
	    cursor: text;
	  }
	}

	&__button {

		&:hover {
			background: $gridlr-item-button-hover-background;
		}
	}
}

.date-picker {

	&__input {
		border: 0;
	}
}
