$font-family: 'Titillium Web', sans-serif;

// Modular Scale
$ms-base: 17px;
$ms-ratio: 1.414;

// Sizes
$standard-spacing: ms(-1);
$container-max-width: 1000px;
$header-height: ms(3);
$subnav-height: ms(5);
$notification-area-height: ms(2);
$gridlr-item-height: ms(3);
