@import '../../bower_components/modular-scale/stylesheets/modular-scale';
@import 'variables';
@import 'base';
@import 'layout';
@import 'fonts';
@import '../../bower_components/jquery-ui/themes/base/jquery-ui';
@import '../../bower_components/jquery-ui/themes/smoothness/jquery-ui';

//
//
//
// .quadrant {
// 	background: #f5f5f5 !important;
// 	border: 5px solid white;
//
// 	li {
// 		border: 3px solid #fff;
// 	}
//
// 	&__input {
// 		display: none;
// 	}
//
// 	 ul	 {
// 		flex-direction: column-reverse;
// 	}
//
// 	&[data-int-quadrant='0'] li {
// 		background: pink;
// 	}
// 	&[data-int-quadrant='1'] li {
// 		background: #bada55;
// 	}
// 	&[data-int-quadrant='2'] li {
// 		background: gold;
// 	}
// 	&[data-int-quadrant='3'] li {
// 		background: coral;
// 	}
//
//
//
// }
