extends partials/template

block config
	- var pagename = 'History'

block subnav
	script.
		$(function() {
			$('.js-date-picker').datepicker({
				changeMonth: true,
				changeYear: true,
				constrainInput: true,
				maxDate: 0,
				dateFormat: 'yy-mm-dd'
			});
			$('.js-date-range-start').datepicker('setDate', '-1m');
			$('.js-date-range-end').datepicker('setDate', '0');
		});
	
	div.subnav
		div.container.container--centered
			h2.subnav__heading.date-picker
				input.date-picker__input.js-date-picker.js-date-range-start(size='9')
				span.date-picker__divider  -
				input.date-picker__input.js-date-picker.js-date-range-end(size='9')

block main
	div.container.container--chart
		canvas(id='chartastic')
		
	div.notes
		h3 This needs to collect <em>all</em> the data, which is what I'll work on next. When the number of items in a column is very high, I want to warn the user by flashing it red or something, and giving a list of consequences of having the number of items in that column so high. This can be right from the original article; also, I think it would be useful to ask them to recall positive/negative consequences for those columns and just print them right there at the bottom of the chart, as reminders.

	script.
		$(document).ready(function() {
			// For now, chart is today only.
			var pts = GridlrLib.generateChartObject(new Date(Date.now()));
			var ctx = document.getElementById('chartastic');
			var myChart = new Chart(ctx, pts);
		});
