extends partials/template

block config
	- var pagename = 'Daily'
	
block subnav
	div.subnav
		div.container.container--centered.js-date-controls
			h2.subnav__heading
				a.button.js-select-date(data-target-date='previous') &larr;&nbsp;
				a.button.js-select-date.js-dateline(data-target-date='original') Today?
				a.button.js-select-date(data-target-date='next') &nbsp;&rarr;
		div.container.container--centered.js-undo-control
			a.button.js-undo Undooooooooooo
				
block main
	main.main
		div.container.container--quadrants
			each i in [0, 1, 2, 3]
				div.quadrant.js-quadrant(data-int-quadrant='#{i}')
					ul.quadrant__items.js-item-list.js-sortable(data-int-quadrant='#{i}')
					input.quadrant__input.js-add-item(placeholder='New item...')

	script.
		// Start Gridlr!
		$(document).ready(function () {
			
		  GridlrLib.DEBUGMODE = false;

			var thegridlr = new GridlrLib.Gridlr();
			
		  $.publish("/gridlr/init", '#js-page-element');

		});
