extends partials/template

block config
	- var pagename = 'Settings'

block main
	main.main
		div.container.column
			h2 Settings:
			h3 Theme:
			
			ul.plain-list
				each theme in ['Light', 'Dark', 'Accessibility']
					li
						input(
							type='radio'
							name='theme'
							id='theme-#{theme}'
							value='#{theme.toLowerCase()}'
						)
						label.button(for='theme-#{theme}')= theme
					
			hr

			ul.plain-list
				li
					a.button.button--medium.button--quiet.js-export-data Export Data
				li
					input#import-settings.hidden(type='file' style='display:none')
					label.button.button--medium.button--quiet(for='import-settings') Import Data
				li
					a.button.button--medium.button--danger.js-remove-all-data Delete Data
					
			hr
					
			ul.plain-list.settings__actions
				li
					a.button.button--medium.button--quiet.js-save-settings Save Settings
					
	script.
		$(document).ready(function () {
						
			var themeStylesheet = $('#theme');
			$('input[name="theme"]').change(function () {
				themeStylesheet.attr('href', '/assets/css/themes/' + this.value + '.css');
			});
			
			$('#import-settings').change(function (event) {

				var theFile = $('#import-settings').get(0).files[0],
						theReader = new FileReader();
				
				// ... when FileReader.readAsText() finishes, do this.
				theReader.onload = function (event) {
					var fileContents = JSON.parse(this.result);
					
					if (window.confirm("This will clear Gridlr's data and replace it with data from the selected file. Are you okay with that?")) {
						
						localStorage.clear();
						
						if (Object.keys(fileContents).length > 0) {
							for (var x in fileContents) {
								localStorage.setItem(x, fileContents[x]);
							}
						}
						
						window.alert("Data was imported. Check the Daily view.");
						
					} else {
						window.alert("No problem! No data was imported.");
					}
				}
				
				theReader.readAsText(theFile);
				
				event.stopPropagation();
				event.preventDefault();
			});
						
			$('.js-export-data').on('click', function (event) {
				
				// Generate object for string-i-fic-a-tion.
				var tempObj = function () {
					var t = {};
					for (var y = 0, l = localStorage.length; y < l; y++) {
						var c = localStorage.key(y);
						t[c] = localStorage.getItem(c);
					}
					return t;
				}();
				
				$('.js-export-data').attr({
					'href': "data:application/json;charset=utf-8," +  encodeURIComponent(JSON.stringify(tempObj)),
					'download': 'GridlrBackup_' + GridlrLib.getTheDateString() + '.json'
				}).click();
				
				event.stopPropagation();
				event.preventDefault();
			});
			
			$('.js-remove-all-data').on('click', function () {
				if (window.confirm("Are you sure you want to remove all of Gridlr's local data? Be warned, you can't get it back! Consider exporting your data first.")) {
					localStorage.clear();
					window.alert("Local data removed.");
				} else {
					window.alert("No problem! No data was removed.");
				}
				
				event.stopPropagation();
				event.preventDefault();
			});
			
		});
