mixin tab(tabtitle, tabname)
	- var classList = 'button header__item header__tab'
	if pagename === tabtitle
		- classList += ' header__tab--current'

	a(
		href='#{tabname}.html' class='#{classList}'
	)= tabtitle

header.header
	div.header__item.button
		img(src='assets/img/visual.png')
	+tab('Daily', 'index')
	+tab('History', 'history')
	div.spacer
	+tab('Settings', 'settings')
	+tab('Help', 'help')
