head
	//- Meta stuff
	if pagename
		title Gridlr | #{pagename}
	else
		title Gridlr	
	
	meta(charset='utf-8')
	meta(name='viewport' content='initial-scale=1')

	//- Stylesheets
	link(href='assets/css/style.css' rel='stylesheet')
	link#theme(href='assets/css/themes/light.css' rel='stylesheet')

	//- Scripts
	script(src='assets/js/vendor.min.js')
	script(src='assets/js/scripts.js')

	//- Misc.
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
