block config

doctype
html
	include head
	body#js-page-element
		include header
		
		block subnav
		
		div.notification-area
			div.container.container--centered.js-notification-area
			
		block main
